<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="span8">
    <img src="https://www.td.org/~/media/Images/CoP/Healthcare/elearning.jpeg?   la=en&hash=D01762EEA0362D755F716FCB8D4AFB5FD98E976F/600x400" />
  </div>
  <div class="span4">
    <h3>New To Elearning?</h3>
    <br />
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true %>

      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
